{% extends "base.html" %}

{% block content %}
<div class="login-wrapper">
    <div class="login-card">
        <h2><i class="fas fa-lock-open"></i> {{ _t('reset_password_title') }}</h2>

        <form action="{{ url_for('reset_password', token=token) }}" method="POST">
            <div class="form-group">
                <label>{{ _t('enter_new_password') }}</label>
                <input type="password" name="password" placeholder="{{ _t('enter_password') }}" required minlength="6">
            </div>
            
            <div class="form-group">
                <label>{{ _t('confirm_new_password') }}</label>
                <input type="password" name="confirm_password" placeholder="{{ _t('enter_password') }}" required minlength="6">
            </div>
            
            <button type="submit" class="premium-submit-btn">
                {{ _t('submit_reset_btn') }} <i class="fas fa-check"></i>
            </button>
        </form>
    </div>
</div>
{% endblock %}
